$grid-columns: 12 !default;

$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        lg: 1200px
);

$container-max-widths: (
        sm: 720px,
        lg: 1140px
);

$max-width: 1440px;
$grid-gutter-width: 10px;

:export {
  @each $key, $value in $grid-breakpoints {
    #{$key} : map-get($grid-breakpoints, $key);
  }
}

