@import "~normalize.css";
@import "variables";
@import "./grid/index";

* {
  box-sizing: border-box;
}

@for $i from 1 through 12 {
  .fs-col-#{($i)} {
    background-color: lighten(tomato,$i /13 * 50);
  }
}