@import "breakpoints";

@mixin make-container($gutter: $grid-gutter-width) {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

// For each breakpoint, define the maximum width of the container in a media query
@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin make-cont($max-widths : $container-max-widths) {
  @include make-container();
  @include make-container-max-widths($max-widths);
}

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: -$grid-gutter-width/2;
  margin-right: -$grid-gutter-width/2;
}

@mixin make-col($size, $columns: $grid-columns) {

  @if ($size == auto) {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;

  } @else if ($size == inherit) {
    max-width: auto;
    flex-grow: 0;
    flex-basis: auto;
  } @else {
    max-width: (100 / ($columns / $size) ) * 1%;
    flex-basis: (100 / ($columns / $size) ) * 1%;
  }

  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

// One mixin to rule all col offsets
@mixin make-col-offsets( $cols... ) {
  @for $i from 1 through length($grid-breakpoints) {
    @if length( $cols ) >= $i {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        margin-left: percentage(nth( $cols, $i ) / $grid-columns);
      }
    } @else {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        margin-left: percentage(nth( $cols, length( $cols ) ) / $grid-columns);
      }
    }
  }
}

@mixin make-cols( $cols... ) {
  @for $i from 1 through length($grid-breakpoints) {
    @if length( $cols ) >= $i {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        @include make-col(nth($cols, $i));
        @content;
      }
    } @else {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        @include make-col(nth($cols, length($cols)));
        @content;
      }
    }
  }
}

@mixin make-displays( $displays... ) {
  @for $i from 1 through length($grid-breakpoints) {
    @if length( $displays ) >= $i {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        display: nth($displays, $i);
      }
    } @else {
      @media (min-width: #{map-get( $grid-breakpoints, nth( map-keys( $grid-breakpoints ), $i ) )}) {
        display: nth($displays, length($displays));
      }
    }
  }
}
