@import "breakpoints";
@import "grid";

.fs-container {
  @include make-cont((v : $max-width));
  .no-padding {
    .fs-row {
      margin: 0;
      [class*="fs-col"] {
        padding: 0;
      }
    }
  }

  .fs-row {
    @include make-row;
    @for $i from 1 through 12 {
      .fs-col-#{($i)} {
        @include make-cols(12, 12, $i);
      }
    }
  }
}